<!DOCTYPE html>
<html>
    <head>
        <title>Rodrigo Diaz</title>
        <link href="https://fonts.googleapis.com/css?family=Mitr:light,extra-light" rel="stylesheet">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <link rel="stylesheet" href="css/uikit.docs.min.css" />
        <link rel="stylesheet" href="css/components/slider.min.css" />
        <link rel="stylesheet" href="css/components/slideshow.min.css"/>
        <link rel="stylesheet" href="css/portfolio.css" />
        <script src="js/jquery-3.0.0.min.js"></script>
        <script src="js/uikit.min.js"></script>
        <script src="js/components/slider.min.js"></script>
        <script src='js/components/slideshow.min.js'></script>
        <script src='js/components/lightbox.min.js'></script>
        <script src="js/core/modal.min.js"></script>
        <script src="js/components/sticky.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/portfolio.js"></script>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    </head>
    <body ng-app="Portfolio" ng-controller="main">
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <div class="uk-grid uk-grid-collapse topbar" data-uk-sticky style="height:65px">
                <a href="#" class="uk-width-2-10 header-item"> <img alt="logo" src="img/logord.png"> </a>
                <p class="uk-width-3-5 uk-text-center uk-h2 header-item">
                    <b>{{name}}</b> {{profession}}
                </p>
                <div class="uk-width-2-10 uk-text-right header-item">
                    <a href="" ng-repeat="link in links" 
                       class="uk-icon-hover uk-icon-justify uk-margin-small-left" 
                       target="_blank" 
                       ng-href="{{link.url}}">
                        <i ng-class="'uk-icon-{{link.icon}}'"></i>
                    </a>
                </div>
            </div>

            <div class="uk-grid uk-margin-large-top">
                <div class="uk-width-1-1 uk-container-center">
                    <div class="uk-text-center uk-text-large uk-width-3-5 uk-container-center">{{intro}}</div>

                    <h1 class="uk-text-center uk-margin-large-top" >Porfolio</h1>
                    <div class="uk-grid"  data-uk-scrollspy="{cls:'uk-animation-fade'}" data-uk-grid-margin>  
                        <div class="uk-width-medium-1-2" ng-repeat="project in porfolio">
                            <div class="uk-panel uk-panel-box project-panel" >
                                <div class="uk-panel-teaser teaser ">
                                    <a href="#screenshots" ng-click="showProject(project)"><img src="{{project.teaser_image}}" alt="" ></a>
                                </div>
                                <div class="uk-grid">
                                    <div class="uk-width-medium-3-10">
                                        <p class='uk-text-medium'>
                                            <b>Role</b><br>
                                            {{project.role}}
                                        </p>
                                        <p class='uk-text-medium' data-uk-scrollspy="{cls:'uk-animation-fade uk-invisible', target:'.small-margin', delay:200}">
                                            <b>Team Size</b><br>
                                            <i class="uk-icon-user small-margin uk-invisible" ng-repeat="i in getNumber(project.teamsize) track by $index"></i>
                                        </p>
                                        
                                        <div class="uk-button-dropdown fullwidth " data-uk-dropdown>
                                            <button class="uk-button with80 uk-button-primary">Links <i class='uk-icon-caret-down'></i></button>
                                            <div class="uk-dropdown uk-dropdown-small">
                                                <ul class="uk-nav uk-nav-dropdown">
                                                    <li>
                                                        <a href="#screenshots" ng-click="showProject(project)" class='project-link'>
                                                            <i class='uk-icon-image'></i>
                                                            <span>Images</span>
                                                        </a>
                                                    </li>
                                                    <li ng-repeat="link in project.links track by $index">
                                                        <a target="_blank" 
                                                           ng-href="{{link.url}}" class='project-link'>
                                                            <i ng-class="'uk-icon-{{link.icon}}'"></i>
                                                            <span>{{link.name}}</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-medium-7-10 uk-padding-remove">
                                        <p class="uk-text-medium uk-margin-small-left uk-margin-right" ng-bind-html="project.description"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-grid uk-width-medium-1-1 uk-margin-large-bottom">
                            <h1 class="uk-text-center uk-margin-large-top uk-width-medium-1-1" >Profile</h1>
                            <div class='uk-width-medium-4-5 uk-grid uk-text-center uk-container-center'>
                                <div class="uk-width-medium-3-4 uk-text-large angular-with-newlines"><br>{{about}}</div>
                                <div class="uk-width-medium-1-4 uk-grid-match uk-margin-large-bottom">
                                    <img src="img/portfolio/profile.jpg" class="uk-border-circle" alt="profile">
                                </div>
                            </div>
                            <h2 class="uk-margin-large-top uk-width-medium-1-2 uk-text-center" >Technical Skills</h2>
                            <h2 class="uk-margin-large-top uk-width-medium-1-2 uk-text-center" >Personal Skills</h2>
                            <hr class="uk-width-medium-1-1">
                            <ul class="uk-list-line uk-width-medium-1-2">
                                <li class="uk-text-center uk-text-large" ng-repeat="skill in techSkills">{{skill}}</li>
                            </ul>
                            <ul class="uk-list-line uk-width-medium-1-2">
                                <li class="uk-text-center uk-text-large" ng-repeat="skill in personalSkills">{{skill}}</li>
                            </ul>
                        </div>

                        <div class="uk-grid uk-width-medium-1-1" data-uk-grid-margin>

                            <h1 class="uk-width-1-1 uk-text-center">Get in touch</h1>
                            <div class="uk-width-medium-2-3">
                                <div class="uk-panel uk-panel-header">


                                    <form class="uk-form uk-form-stacked uk-text-large " method="POST" action="https://formspree.io/&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#114;&#111;&#100;&#114;&#105;&#103;&#111;&#115;&#046;&#119;&#111;&#114;&#107;&#032;">

                                        <div class="uk-form-row">
                                            <label class="uk-form-label">Your Name</label>
                                            <div class="uk-form-controls">
                                                <input type="text" name="name" placeholder="" class="uk-width-1-1">
                                            </div>
                                        </div>

                                        <div class="uk-form-row">
                                            <label class="uk-form-label">Your Email</label>
                                            <div class="uk-form-controls">
                                                <input type="email" name="_replyto" class="uk-width-1-1">
                                            </div>
                                        </div>
                                        <input type="hidden" name="_subject" value="New submission!" />
                                        <div class="uk-form-row">
                                            <label class="uk-form-label">Your Message</label>
                                            <div class="uk-form-controls">
                                                <textarea class="uk-width-1-1" name="message" id="form-h-t" cols="100" rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="uk-form-row">
                                            <div class="uk-form-controls">
                                                <button class="uk-button uk-button-primary">Submit</button>
                                            </div>
                                        </div>
                                        <input type="text" name="_gotcha" style="display:none" />
                                    </form>

                                </div>
                            </div>

                            <div class="uk-width-medium-1-3">
                                <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-text-large ">
                                    <h2 class="">Contact Details</h2>
                                    <p >
                                        <strong>{{name}}</strong>
                                        <br>{{profession}}
                                    </p>
                                    <p>
                                        <a class="angular-with-newlines">{{email}}</a>
                                        <br><a target="_blank" ng-href="https://twitter.com/{{twitter}}">@{{twitter}}</a><br>
                                        {{telephone}}
                                    </p>
                                    <h3 class="uk-h4">Follow Me</h3>
                                    <p>
                                        <a href="" ng-repeat="link in links" 
                                           class="uk-icon-hover uk-icon-small uk-icon-justify uk-margin-small-left" 
                                           target="_blank" 
                                           ng-href="{{link.url}}">
                                            <i ng-class="'uk-icon-{{link.icon}}'"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>